$font-cloro1: rgba(39, 40, 50, 1);
$font-cloro2: rgba(39, 40, 50, 0.6);
$font-cloro2: rgba(39, 40, 50, 0.4);
$base-background-color: rgba(243, 244, 246, 1);
$base-background-color: rgba(244, 244, 244, 1);
$base-background-color: rgba(39, 40, 50, 0.2);
$base-border-color1: rgba(39, 40, 50, 0.1);
$base-active-color2: rgba(255, 228, 49, 1);
$base-active-color: rgba(255, 93, 91, 1);
$base-active-color: rgba(87, 153, 255, 1);
$base-font-size1: 12px;
$base-font-size2: 14px;
$base-font-size3: 16px;
$base-img-width: 40px;
$base-img-width: 48px;
$base-img-width: 52px;
body {
  margin: 0;
  padding: 0;
}
